.bg-details {
    background-color: rgba(0, 0, 0, 0.63);
}

svg {
    position: relative;
    height: 3.2rem;
    width: 3.2rem;
    transform: rotateZ(270deg);
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgb(59, 59, 59);
    stroke-width: 5;
    stroke-linecap: round;
}

@keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: var(--final);
    }
}

svg circle:nth-child(2) {
    animation: fill 0.8s ease-in forwards;
    stroke-dasharray: 141;
    stroke: chartreuse;
}

.percent .number {
    position: absolute;
    top: 0rem;
    left: -0.1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
}

.percent {
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px #0b0b14;
    background-color: #0b0b14;
}

.percent p {
    margin: 0;
}

.percent p span {
    font-size: 8px;
    position: absolute;
}

.posterImage {
    box-shadow: 0.6px 0px 8px 0.4px #f7f7f756
}

/* styles for '...' */

.review-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: 2em;
    padding-right: 2em;
}

/* create the ... */

.review-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */

.review-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background-color: #01111C;
}

.thin {
    font-weight: 0;
}

.go-to-trailer {
    cursor: pointer;
}

.fa-magnet:hover {
    cursor: pointer;
    color: rgb(241, 79, 30);
}

.fa-link:hover {
    cursor: pointer;
    color: rgb(29, 94, 184);
}

.torrent-table th, td {
    padding: 1rem;
}

.torrent-table {
    border-radius: 5px;
    width: 100%;
}

.torrent-table th:first-child {
    border-top-left-radius: 5px;
}

.torrent-table th:last-child {
    border-top-right-radius: 5px;
}

.torrent-table thead {
    background-color: #5a5a5a;
}

.torrent-table tbody tr:nth-child(even) {
    background-color: rgba(20, 20, 20, 0.63);
}

.torrent-table tr td:first-child:hover {
    cursor: pointer;
    color: rgb(226, 107, 52);
    text-decoration: underline;
}

.torrent-table tbody tr:hover {
    background-color: rgba(45, 45, 45, 0.63);
}

.fa-magnet {
    color: rgb(126, 223, 29);
    transform: scale(1.2);
}

.ratings {
    height: 1.2rem;
    transform: scale(1.5);
    width: 1.2rem;
    margin-right: 0.4rem;
}

.ratings-parent {
    justify-content: space-between;
    width: 40%;
    margin-left: 2rem;
}

.fa-imdb {
    color: #F5C518;
    margin-right: 0.1rem;
    transform: scale(1.9);
}

.handle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: move;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.782);
}

iframe {
    cursor: pointer;
}

.close-trailer {
    position: absolute;
    right: 0%;
    top: -7%;
    transform: scale(1.3);
    padding: 0.5rem;
    cursor: pointer;
}

.fa-window-restore {
    position: absolute;
    right: 5%;
    top: -7%;
    padding: 0.5rem;
    cursor: pointer;
}

.iframe-container {
    position: relative;
}

/* .backdrop-iframe {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 1000;
} */