@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    min-height: 100vh;
    color: white;
    background-color: #000000;
    background-image: linear-gradient(110deg, #000000 0%, #022f4d 74%);
    /* font-family: Verdana, Geneva, sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.poster {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0.3px 0px 8px 0.1px #f7f7f756
}

.thumbnail {
    margin-bottom: 2rem;
}

.title {
    /* background-color: rgba(0, 0, 0, 0.801); */
    text-align: center;
    padding: 0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(-100%);
    position: sticky;
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    /* overflow: visible!important; */
    text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 5px #000, 0 0 5px #000;
    /* opacity: 0; */
}

.thumbnail a:hover {
    text-decoration: none;
}

.thumbnail:hover .title {
    position: absolute;
    padding: 0.8rem;
    padding-right: 1.5rem;
    display: block!important;
}

.ml-7 {
    margin-left: 3rem;
    margin-top: 1rem;
}

@keyframes fading {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.fa-heart {
    position: absolute;
    top: 3%;
    right: 10%;
    transform: scale(1.3);
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 0.5rem;
    border-radius: 50%;
}

.thumbnail:hover .unliked {
    animation: fading 0.3s ease-in forwards;
}

.thumbnail:hover .fa-star {
    animation: fading 0.3s ease-in forwards;
}

.liked {
    color: rgb(255, 0, 0);
}

.unliked {
    animation: fadeout 0.9s ease-out forwards;
}

.fa-heart:active {
    /* color: white; */
}

.fa-star {
    position: absolute;
    top: 3%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 0.3rem;
    color: rgb(253, 217, 57);
    animation: fadeout 0.9s ease-out forwards;
    border-radius: 5px;
}